@import '../../../../GlobalStyles/mixins';

.support__item {
  display: flex;
  flex-direction: column;
}

.support__title {
  margin-bottom: 46px;
}

.support__item {
  font-size: 18px;
  margin-bottom: 10px;
  transition: all 0.1s ease-in-out;

  a {
    text-decoration: none;
    @include theme-aware('color', 'default');
  }

  & a:hover {
    color: #ffffff;
    text-decoration: underline;
  }
}
