.profitable-offers__advert-preview__wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.profitable-offers__button {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
