.authTemplate__wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, rgba(0, 163, 255, 0.2) 5.64%, rgba(7, 40, 50, 0.2) 100%);
}
