.advert__wrapper {
  padding: 20px;
  cursor: pointer;
  &:hover {
    transform: scale(1.004);
  }
}

.advert-action__wrapper {
  display: flex;
  justify-content: space-between;
}

.advert-icons__wrapper {
  display: flex;
  justify-content: space-between;
  width: 77px;
}

.advert-price_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
