* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  width: 1190px;
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
}
