$themes: (
  light: (
    primary: #072832,
    secondary: #ffffff,
    inherit: #ebebeb,
    default: #8c8c8c,
    green: #4fffaa,
    yellow: #fcff71,
    red: #eb001b,
    blue: #00a3ff,
  )
  // dark: (
//   primary: #072832,
//   color-card: #212121,
// ),,,,,
);
