$themes: (
  light: (
    secondary: #ffffff,
    primary: #072832,
    inherit: #ebebeb,
    default: #8c8c8c,
    greenC: #4fffaa,
    yellowC: #fcff71,
    redC: #eb001b,
    blueC: #00a3ff,
    blackC: #000000,
  )
  // dark: (
//   primary: #072832,
//   color-card: #212121,
// ),,
);
