@import '../../../GlobalStyles/mixins';

.signIn__contentWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 48px 0 23px 0;
  margin: 0 75px;
  height: 100%;
}

.signIn__privatePerson {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  @include theme-aware('background-color', 'primary');
}

.signIn__privatePerson__icon {
  font-size: 60px;
  margin-bottom: 3px;

  @include theme-aware('color', 'secondary');
}

.signIn__privatePerson__descr {
  font-size: 10px;
  font-weight: 700;

  @include theme-aware('color', 'default');
}

.signIn__content__inputWrapper {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}

.signIn__content__inputLeftSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-bottom: auto;
}

.signIn__content__input {
  margin-bottom: 15px;
}

.signIn__content__info {
  font-weight: 700;
  font-size: 14px;

  @include theme-aware('color', 'default');
}

.signIn__content__passValid {
  font-size: 12px;
  font-weight: 700;
  max-width: 280px;
  height: 40px;
  margin-bottom: 15px;

  @include theme-aware('color', 'default');
}

.signIn__content__mark {
  @include theme-aware('color', 'primary');
}

.red {
  @include theme-aware('color', 'redC');
}

.passNotMatch {
  display: flex;
  align-items: center;
}
