@import '../../../../GlobalStyles/mixins';

.list + .list {
  margin-right: 30px;
  max-width: 370px;
}

.list__item {
  display: flex;
  flex-direction: column;
}

.list__title {
  margin-bottom: 46px;
}

.list__item {
  font-size: 18px;
  margin-bottom: 11px;
  transition: all 0.1s ease-in-out;

  a {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    @include theme-aware('color', 'default');
  }

  & a:hover {
    color: #ffffff;
    text-decoration: underline;
  }
}

.list__icon {
  svg {
    font-size: 24px;
    width: 24px;
    height: 24px;
    path {
      @include theme-aware('color', 'default');
    }
  }
}
