.payment__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 33px;
  grid-row-gap: 14px;
  max-width: 292px;
}

.payment__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
