.make-picker__wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.make__wrapper {
  height: 220px;
  width: 100%;
}

.make-picker__content {
  list-style: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  cursor: pointer;
}
