@import '../../../../GlobalStyles/mixins';

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15px;
  width: 100%;
  margin-bottom: 10px;

  p {
    font-size: 11px;

    @include theme-aware('color', 'default');
  }
}
